.title {
    margin-top: 150px;
    width: 50%;
}

.candidate img{
    border-radius: 20px;
    width: 10em;
}

.candidate .candidateWrapper{
    margin-top: 4em;
    text-align: center;
}
.candidate .candidateWrapper h1{
    margin: 1em 0;
    font-size: 25px;
}
.issues-container {
    margin-top: 100px;
    margin-bottom: 100px;
}
.issue-wrapper {
    margin-bottom: 20px;
}

.dropdown-toggle {
    background-color: #f2d09d;
    color: #333;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    position: relative;
}

.dropdown-toggle::after {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.dropdown-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out, opacity 0.2s ease-out;
    opacity: 0;
    display: block;
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-menu.show {
    max-height: 1000px; 
    opacity: 1;
    transition: max-height 0.3s ease-in, opacity 0.3s ease-in;
}

.close-dropdown {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    padding: 0;
    background-color: transparent;
    border: 0;
    appearance: none;
}
@media only screen and (min-width: 765px) and (max-width: 991px) {
    .title {
        width: 30%;
    }
    .candidate img{
        border-radius: 20px;
        width: 10em;
    }
    .candidate .candidateWrapper{
        margin-top: 1em;
        text-align: center;
    }
    .candidate .candidateWrapper h1{
        margin: 1em 0;
        font-size: 25px;
    }
    .issue-wrapper {
        margin-bottom: 20px;
    }
    .issues-container {
        margin-top: 3em;
        margin-bottom: 5em;
    }
}
@media only screen and (max-width: 600px) {
    .title {
        width: 70%;
    }
    .candidate img{
        border-radius: 20px;
        width: 10em;
    }
    .candidate .candidateWrapper{
        margin-top: 1em;
        text-align: center;
    }
    .candidate .candidateWrapper h1{
        margin: 1em 0;
        font-size: 25px;
    }
    .issue-wrapper {
        margin-bottom: 20px;
    }
    .issues-container {
        margin-top: 5em;
        margin-bottom: 5em;
    }
}